div class="container">
    <br>
    <div class="row">
        <br>

        <h2> {{ 'productlist' | translate }}</h2>
    </div>
    <div class="row">
        <div class="col-md-3" [(ngModel)]="produits2">
          <h1>{{le}}</h1> 
         
        </div>
        
      

   

    </div>
    <hr>
<div class ="row list l">
    <div class="col-md-3 product f" *ngFor="let p of produits2 | async">
    <script>ajout(p.prix)</script>

        <div class="row">
        <img class="m" src="{{p.url2}}"width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        </div>
        <div class="row">
        <h2>{{p.nom}}</h2><br>
        </div>
        
        <div class="row">
        <h6>Categroy :{{p.categorie}}  <br></h6>
        <div>
            
      
     <div class="row col-md-12 footer ">
            <p><a class="btn btn-secondary" href="#" role="button" width="20px"  [routerLink]="['/details/'+p.ref]">View details &raquo;</a></p>
        <span class="prix"><b>  {{p.prix}}Dt</b> &nbsp; </span>
        
        <button class="btn btn-warning"(click)="ajout(p.ref,p.nom,p.prix)">+</button>
       
      </div>

</div>
</div>